*{
	margin: 0;
	padding: 0;
}
.item1{
	/*background-color: red;*/
	padding-top: 10px;
	/*border-bottom: 2px solid #ccc;*/
}
.item11{
	/*background: blue;*/
	width: 80%;
	margin: 0 auto;
}
.logo{
	width: 100%;
	height: 100%;
}
.nav>ul{
	margin: 0 auto;
	height: 100%;
}
.nav>ul>li{
	list-style: none;
	display: inline;
	float: left;
	padding: 0 10px;
	/*border: 1px solid black;*/
	height: 100%;
	display: flex;
	align-items: center;
}
.nav>ul>li>a{
	color: black;
	/*font-weight: bold;*/
	text-decoration: none;
}
.nav>ul>li>a:hover{
	color: #fed700;
	text-decoration: none;
}
.btn{
	/*background: white;*/
	display: flex;
	align-items: center;
}
.btn>input{
	height: 20px;
	width: 120px;
	border: none;
	border-bottom: 1px solid #ccc;
}
.btn1{
	width: 150px;
	height: 40px;
	display: block;
	background:  #fed700;
	font-weight: bold;
	border: none;
}
.footer{
	background: #262626;
	color: white;
	padding: 100px 0;
}
.ft1{
	width: 80%;
	margin: 0 auto;
}
.ft12>div{
	float: left;
}
.ft12>div>ul>li{
	list-style: none;
}
.ft12>div>ul>li>a{
	color: white;
	text-decoration: none;
}
.quick>ul>li{
	list-style: none;
}
.quick>ul>li>a{
	font-size: 10px;
	color: white;
	text-decoration: none;
}
.quick>ul>li>a:hover{
	color: #fed700;
}
h4{
	font-size: 15px;
}
.hr1{
	color: #fed700;
	border: 1px solid #fed700;
    background: #fed700;
}
.lh>li{
	font-size: 10px;
}
.ft11>img{
	width: 70%;
}
.ft11>div>p{
	font-size: 15px;
}
.img_ft>div>img{
	width: 100%;
	height: 40px;
	/*height: 100%;*/
	/*float: left;*/
}

.img_ft>div>img:hover{
	opacity: 0.5;
}
.img_ft>div>img:hover{
	opacity: 0.5;
}
.item1_5l{
	display: block;
	float: left;
	padding: 10px;
	text-align: center;
}
.db{
	border-left: 2px solid #ccc;
	/*border-right: 2px solid #ccc;*/
}
.item1_5{
	border-bottom: 2px solid #ccc;
}
.vt>div{
	/*padding-left: 6%;*/
}
.vt{
	width: 80%;
	margin: 0 auto;
}
.db1{
	text-align: center;
	padding-top: 10px;
}
.dbf{
	border-left: 2px solid #ccc;
	/*border-right: 2px solid #ccc;*/
}
.dbl{
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
}
#header{
	text-align: center;
	padding: 80px 0;
	background-color: #262626;
	color: white;
}
#header>p>a{
	color: white;
}
#header>p>a:hover{
	color: #fed007;
	text-decoration: none;
}
.item2{
	padding: 100px 0; 
}
.item21{
	width: 80%;
	margin: 0 auto;
}
.item21>div>iframe{
	width: 95%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
.vd1{
	position: relative;
	height: 400px;
	width: 100%;
}
.vd11{
	background-color: #fed007;
	height: 150px;
	width: 40%;
	position: absolute;
	top: -10px;
	right: 5px;
	z-index: 0;
}
.item21>div>p{
	display: inline;
	float: left;
	margin-bottom: 0;
}
.all{
	height: 5px;
	width: 50px;
	position: relative;
	float: left;
	margin: 12px 0 0 5px;
}
.all1{
	height: 2px;
	width: 25px;
	background-color: #fed007;
	position: absolute;
	top: 0;
	left: 0;
}
.all2{
	height: 2px;
	width: 50px;
	background-color: #fed007;
	position: absolute;
	bottom: 0;
	left: 0;
}
.item3{
	background-color: #262626;
	color: white;
	padding: 100px 0; 
}
.item31{
	width: 80%;
	margin: 0 auto;
}
.border_l{
	border-left: 1px solid #ccc;
}
.nch>p{
	padding: 0;
	margin: 0;
}
.cl{
	color: #fed007;
}
.ct{
	padding-top: 15px;
}
.icon_left{
	/*margin-left: 0px;*/
	text-align: center;
}
.item4{
	padding: 100px 0;
	background-color: #f2f2f2; 
}
.item41{
	width: 80%;
	margin: 0 auto;
}
.div41{
	width: 31.5%;
	margin: 10px;
	background-color: #262626;
	color: white;
	float: left; 
	padding: 10px;
}
.div42{
	width: 31.5%;
	margin: 10px;
	background-color: white;
	/*color: white;*/
	float: left; 
	padding: 10px;
}
.bold{
	font-weight: bold;
}
.div41>a{
	color: #fed007;
}
.div41>a:hover{
	text-decoration: none;
}
.div42>a{
	color: gray;
}
.div42>a:hover{
	text-decoration: none;
}
.item5{
	/*padding: 100px 0;*/
	/*background-color: #fed007;*/
}
.item5_2{
		background-color: #fed007;
}
.item51{
	height: 100%;
	/*width: 50%;*/
}
.item51>img{
	width: 100%;
	/*height: 100%;*/
}
.item52{
	height: 100%;
	width: 50%;
	padding: 50px 50px 0 50px; 
}
.item6{
	padding: 100px 0;
}
.item61{
	width: 80%;
	margin: 0 auto;

}
.item62{
	text-align: center;
	width: 50%;
	margin: 0 auto;
}
.item63{
	width: 100%;
	margin: 0 auto;
}
.item64{
	width: 23.5%;
	margin: 5px;
	float: left;
	/*margin-top: 10px;*/
}
.item64>img{
	width: 100%;
}
.img6_title{
	margin-top: 10px;
	padding-left: 5px;
	border-left: 3px solid #fed007;
}
.fin{
	background-color: #1a1a1a;
	color: #ccc;
	text-align: center;
	height: 60px;
	width: 100%;
	line-height: 60px;
}
.nav1{
	display: none;
}
@media screen and (min-width: 320px) and (max-width: 748px) {
	.item1_5{
		display: none;
	}
	.logoo{
		display: none;
	}
	.btn{
		display: none;
	}
	.item1{
		border: none;
	}
	.item11{
		/*background: blue;*/
		width: 100%;
	}
	.nav{
		display: none;
	}
	.nav1{
		display: block;
		width: 100%;
		/*position: relative;*/
	}
	.icon1{
		float: right;
		position: relative;
	}
	.nav1>div>ul>li{
		list-style: none;
		padding: 0 30px;
	}
	.nav1>p{
		display: inline;
		/*float: left;*/
		font-weight: bold;
	}
	.nav1>div{
		position: absolute;
		right: 15px;
		top: 25px;
		background: rgba(0,0,0,0.7);
		z-index: 15;
		display: none;
	}
	.nav1>div>ul>li:hover{
		background-color: black;
		color: white;
	}
	.nav1>div>ul>li>a{
		color: white;
		font-size: 10px;
		text-decoration: none;
	}
	.footer{
		padding: 50px 0;
	}
	.ft1{
		width: 100%;
		/*margin: 0 auto;*/
	}
	.ft12{
		display: none;
	}
	.ft11{
		width: 100%;
		text-align: center;
	}
	.fin>p{
		font-size: 10px;
	}
	#header{
		text-align: center;
		padding: 40px 0;
		background-color: #262626;
		color: white;
	}
	#header>h1{
		font-size: 20px;
		/*padding: 50px 0;*/
	}

	.item2{
		padding: 50px 0; 
	}
	.item21{
		width: 100%;
	}
	.item21>div>h3{
		font-size: 20px;
	}
	.item21>div>iframe{
		width: 94%;
	}
	.item31{
		width: 100%;
	}
	.item3{
		display: none;
		padding: 50px 0; 
	}

	.item4{
		padding: 50px 0;
	}
	.item41{
		width: 100%;
	}
	.div41{
		width: 100%;
		margin: 10px;
		background-color: #262626;
		color: white;
		float: left; 
		padding: 10px;
	}
	.div42{
		width: 100%;
		margin: 10px;
		background-color: white;
		/*color: white;*/
		float: left; 
		padding: 10px;
	}
	.item52>h3{
		font-size: 20px;
	}
	.item6{
		padding: 50px 0;
	}
	.item61{
		width: 100%;
	}
	.item62{
		text-align: center;
		width: 100%;
	}
	.item62>h3{
		font-size: 20px;
	}
	.item64{
		width: 100%;
		margin: 0px;
		float: left;
		/*margin-top: 10px;*/
	}
}
@media screen and (min-width: 749px) and (max-width: 1355px) {
	.item1_5{
		display: none;
	}
	.logoo{
		display: none;
	}
	.btn{
		display: none;
	}
	.item1{
		border: none;
	}
	.item11{
		/*background: blue;*/
		width: 100%;
	}
	.nav{
		display: none;
	}
	.nav1{
		display: block;
		width: 100%;
		/*position: relative;*/
	}
	.icon1{
		float: right;
		position: relative;
	}
	.nav1>div>ul>li{
		list-style: none;
		padding: 0 30px;
	}
	.nav1>p{
		display: inline;
		/*float: left;*/
		font-weight: bold;
	}
	.nav1>div{
		position: absolute;
		right: 15px;
		top: 25px;
		background: rgba(0,0,0,0.7);
		z-index: 15;
		display: none;
	}
	.nav1>div>ul>li:hover{
		background-color: black;
		color: white;
	}
	.nav1>div>ul>li>a{
		color: white;
		font-size: 10px;
		text-decoration: none;
	}
	.footer{
		padding: 50px 0;
	}
	.ft1{
		width: 100%;
		/*margin: 0 auto;*/
	}
	.ft12{
		display: none;
	}
	.ft11{
		width: 100%;
		text-align: center;
	}
	.fin>p{
		font-size: 10px;
	}
	#header{
		text-align: center;
		padding: 40px 0;
		background-color: #262626;
		color: white;
	}
	#header>h1{
		font-size: 20px;
		/*padding: 50px 0;*/
	}

	.item2{
		padding: 50px 0; 
	}
	.item21{
		width: 100%;
	}
	.item21>div>h3{
		font-size: 20px;
	}
	.item21>div>iframe{
		width: 94%;
	}
	.item31{
		width: 100%;
	}
	.item3{
		/*display: none;*/
		padding: 50px 0; 
	}

	.item4{
		padding: 50px 0;
	}
	.item41{
		width: 100%;
	}
	.div41{
		width: 47.5%;
		margin: 10px;
		background-color: #262626;
		color: white;
		float: left; 
		padding: 10px;
	}
	.div42{
		width: 47.5%;
		margin: 10px;
		background-color: white;
		/*color: white;*/
		float: left; 
		padding: 10px;
	}
	.item52>h3{
		font-size: 20px;
	}
	.item6{
		padding: 50px 0;
	}
	.item61{
		width: 100%;
	}
	.item62{
		text-align: center;
		width: 100%;
	}
	.item62>h3{
		font-size: 20px;
	}
	.item64{
		width: 47.5%;
		margin: 10px;
		float: left;
		/*margin-top: 10px;*/
	}
}